<template>
  <v-container grid-list-md fluid>
    <v-layout row wrap>
      <v-flex xs12 class="position: relative">
        <v-list shaped two-line color="transparent">
          <v-list-item
            v-for="n in 8"
            class="mb-2"
            style="background:var(--v-anchor-base)"
            :key="n"
            @click="selectPuzzle(n)"
          >
            <v-list-item-avatar size="70" horizontal>
              <v-img
                :src="`https://picsum.photos/500/300?image=${n * 5 + 10}`"
                :lazy-src="`https://picsum.photos/10/6?image=${n * 5 + 10}`"
                aspect-ratio="1"
                class="grey lighten-2"
              >
                <template v-slot:placeholder>
                  <v-row class="fill-height ma-0" align="center" justify="center">
                    <v-progress-circular indeterminate color="grey lighten-5"></v-progress-circular>
                  </v-row>
                </template>
              </v-img>
            </v-list-item-avatar>
            <v-list-item-content>
              <v-list-item-title>{{ Math.random().toString(36).substr(6) }}</v-list-item-title>
              <v-list-item-subtitle>
                <span>Odds</span>
                31.00
                <v-spacer></v-spacer>
                <v-icon>mdi-puzzle</v-icon>
                &nbsp;{{ 45 }} pix
              </v-list-item-subtitle>
            </v-list-item-content>
            <v-list-item-action>
              <v-icon>mdi-clock</v-icon>90s
            </v-list-item-action>
          </v-list-item>
        </v-list>
      </v-flex>
    </v-layout>
    <div class="justify--right ml-12" style="margin-left: 200px !important;">
      <v-btn color="#5ec57b" class="mr-6" fab right>
        <v-icon color="primary darken-3">mdi-plus</v-icon>
      </v-btn>
      <v-btn color="#5ec57b" fab right>
        <v-icon color="primary darken-3">mdi-magnify</v-icon>
      </v-btn>
    </div>

    <v-dialog fullscreen v-model="dialog">
      <v-toolbar color="primary">
        <v-btn icon @click="dialog = false">
          <v-icon>mdi-arrow-left</v-icon>
        </v-btn>
      </v-toolbar>
      <v-card>
        <v-img src="https://picsum.photos/500/300?image=34"></v-img>
        <v-card-text>
          <v-list shaped>
            <v-list-item>
              <v-list-item-title>
                <v-icon>mdi-calendar-check</v-icon>
              </v-list-item-title>
              <v-list-item-subtitle>13:99</v-list-item-subtitle>
            </v-list-item>
            <v-list-item>
              <v-list-item-title>
                <v-icon>mdi-puzzle</v-icon>
              </v-list-item-title>
              <v-list-item-subtitle>49 piecies</v-list-item-subtitle>
            </v-list-item>
            <v-list-item>
              <v-list-item-title>
                <v-icon>mdi-account-clock</v-icon>
              </v-list-item-title>
              <v-list-item-subtitle>13 Seconds</v-list-item-subtitle>
            </v-list-item>
          </v-list>
          <v-text-field v-model="betAmount" type="number" label="Bet amount" outlined color="green"></v-text-field>
          <div>
            <span class="grey--text">ODD:</span>
            {{ odd }}
          </div>
        </v-card-text>
        <v-card-actions>
          <v-btn block rounded color="green">bet</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-container>
</template>



<script>
import { mapState } from "vuex";
export default {
  data() {
    return {
      dialog: true,
      thisPuzzle: {},
      odd: 7,
      betAmount: ""
    };
  },
  computed: {
    ...mapState({})
  },
  watch: {
    betAmount(val) {
      // Odd -> this.user.credits * this.puzzle.odds
      this.odd = val * 2;
    }
  },
  methods: {
    selectPuzzle(puzzle) {
      this.dialog = true;
      console.log(puzzle);
    }
  }
};
</script>