<template>
  <v-layout justify-center align-center>
    <v-flex xs12>
      <PuzzleList></PuzzleList>
    </v-flex>
  </v-layout>
</template>

<script>
import PuzzleList from "@/components/PuzzleList";
// @ is an alias to /src
export default {
  name: "home",
  components: {
    PuzzleList
  }
};
</script>
