<template>
  <v-container fill-height>
    <v-layout justify-center align-center>
      <v-flex xs12 class="text-center mt-12">
        <h1>Kashup</h1>Lorem dolor kashup ipsum siet ameit that has some nice things to do with basic intergration of javascript molecules, intermingling within themselves
        <v-btn class="ma-5" to="categories">
          Categories &nbsp;
          <v-icon>mdi-arrow-right</v-icon>
        </v-btn>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
// @ is an alias to /src
export default {
  name: "home",
  components: {}
};
</script>
