<template>
  <div>
    <v-list shaped rounded color="transparent">
      <v-subheader>CATEGORIES</v-subheader>
      <v-list-item
        class="mb-2"
        style="background:var(--v-anchor-base)"
        v-for="(item, i) in items"
        :key="i"
        @click="$store.commit('SET_CATEGORY', item.text.toLowerCase())"
      >
        <v-list-item-icon>
          <v-icon v-text="item.icon"></v-icon>
        </v-list-item-icon>
        <v-list-item-content>
          <v-list-item-title v-text="item.text"></v-list-item-title>
        </v-list-item-content>
      </v-list-item>
    </v-list>
    <div class="justify--right ml-12" style="margin-left: 200px !important;">
      <v-btn color="green" class="mr-6" fab right>
        <v-icon color="primary darken-3">mdi-camera</v-icon>
      </v-btn>
      <v-btn color="green" fab right>
        <v-icon color="primary darken-3">mdi-camera-burst</v-icon>
      </v-btn>
    </div>
  </div>
</template>

<script>
export default {
  data: () => ({
    fab: true,
    item: 1,
    items: [
      { text: "People", icon: "mdi-account" },
      { text: "Flowers", icon: "mdi-flower" },
      { text: "Football", icon: "mdi-basketball" },
      { text: "Animals", icon: "mdi-bat" },
      { text: "Random", icon: "mdi-gate-nand" }
    ]
  }),
  methods: {}
};
</script>
