<template>
  <div>
    <div>
      <v-app-bar color="primary" dark>
        <v-toolbar-title class="headline text-uppercase">
          <span>Kash</span>
          <span class="font-weight-light">up</span>
        </v-toolbar-title>
        <v-spacer></v-spacer>
      </v-app-bar>
    </div>
    <router-view />
  </div>
</template>

